body{
    display: grid;
    grid-template-columns: 3fr 3fr 8fr 3fr;
    grid-template-rows: 40px repeat(2, 0.4fr) 40px repeat(6, 0.5fr);
    background-color: #FDF2E9;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}
#foto {
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
    width: 80%;
	height: 70%;
    min-width: 14rem;
    object-fit: cover;
    border-radius: 100px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    margin-left: -4rem;
    margin-top: 4rem;
}
#divNombre {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    font-size: 1.5rem;
    text-shadow: .1rem .1rem .2rem #f8dec8;
    align-self: end;
    margin-top: 3rem;
}
h2 {
    grid-column: 2 / span 1;
    font-size: 1.2rem;
}
#descPersonal {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    text-align: justify;
    padding: 0.5rem;
}
#educacion, #expLaboral, #skills, #hobbies {
    grid-column: 3 / span 1;
    text-align: justify;
    line-height: 1.4;
    padding: 0.5rem;
}
#seccEd, #educacion {
    grid-row: 5 / span 1;
}
#seccEL, #expLaboral {
    grid-row: 6 / span 1;
}
#seccSk, #skills {
    grid-row: 7 / span 1;
}
#seccHob, #hobbies {
    grid-row: 8 / span 1;
}
#estudiarProgramacion {
    grid-column: 2 / span 2;
    grid-row: 9 / span 1;
    text-align: justify;
}
#firma {
    grid-column: 3 / span 1;
    grid-row: 10 / span 1;
    width: 14rem;
    height: 12rem;
    justify-self: right;
    object-fit: scale-down;
}
